default_shell "/opt/homebrew/bin/fish"
default_layout "zjstatus"
simplified_ui true
pane_frames false
theme "catppuccin-latte"
keybinds {
    normal {
        bind "Alt p" { 
            Run "/opt/homebrew/bin/fish" "-c" "$HOME/.scripts/open-project" {}
        }
    }
}
